<section class="strip-grey">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="mt-5 mb-5">
                    Manage your account
                </h1>
                <div class="feature mt-5 mb-5">
                    <h6 class="text-uppercase">Primeste indrumari</h6>
                    <p>Opening an account with us takes just minutes, and because we don’t believe in branches, you
                        can set
                        one up
                        directly from your phone.</p>
                </div>
                <div class="feature mt-5 mb-5">
                    <h5 class="text-uppercase">Fa teste online pentru a lua note</h5>
                    <p>Opening an account with us takes just minutes, and because we don’t believe in branches, you
                        can set
                        one up
                        directly from your phone.</p>
                </div>

            </div>
            <div class="col-6">
                <img src="assets/img/phone.png" alt="Revolut app screen" class="img img-fluid">

            </div>
        </div>
    </div>
</section>
<section class="strip-white">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <img src="assets/img/phone.png" alt="Revolut app screen" class="img img-fluid">

            </div>
            <div class="col-6">
                <h1 class="mt-5 mb-5">
                    Manage your account
                </h1>
                <div class="feature mt-5 mb-5">
                    <h6 class="text-uppercase">Pregateste-te online pentru orele de la scoala</h6>
                    <p>Opening an account with us takes just minutes, and because we don’t believe in branches, you
                        can set one up directly from your phone.</p>
                </div>
                <div class="feature mt-5 mb-5">
                    <h5 class="text-uppercase">Comunica cu profesorul tau</h5>
                    <p>Opening an account with us takes just minutes, and because we don’t believe in branches, you
                        can set one up directly from your phone.</p>
                </div>

            </div>
        </div>
    </div>
</section>

<section class="strip-grey">

    <div class="container">
        <div class="row">
            <div class="col-6">
                <h1 class="mt-5 mb-5">
                    Manage your account
                </h1>
                <div class="feature mt-5 mb-5">
                    <h6 class="text-uppercase">Primeste indrumari</h6>
                    <p>Opening an account with us takes just minutes, and because we don’t believe in branches, you
                        can set
                        one up
                        directly from your phone.</p>
                </div>
                <div class="feature mt-5 mb-5">
                    <h5 class="text-uppercase">Fa teste online pentru a lua note</h5>
                    <p>Opening an account with us takes just minutes, and because we don’t believe in branches, you
                        can set
                        one up
                        directly from your phone.</p>
                </div>

            </div>
            <div class="col-6">
                <img src="assets/img/phone.png" alt="Revolut app screen" class="img img-fluid">

            </div>
        </div>
    </div>
</section>


<section class="strip-white pb-6">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-6 feature">
                <p><b>TeachMe.com</b> a aparut din nevoia studentilor de a comunica mai rapid si mai
                    eficient cu
                    profesorii de la scoala. In momentele in care lucrezi la tema pentru acasa si ai intampinat
                    dificultati, tot ce trebuie sa faci este sa te loghezi pe TeachMe.com si sa ii lasi mesaj
                    profesorului tau cu problema ta.</p>
            </div>
            <div class="col-12 col-md-6 feature">
                <p><b>TeachMe.com</b> permite profesorului sa trimita link-uri catre teste online elevilor
                    pentru a-i
                    pregati. Profesorul are apoi posibilitatea ca rezultatul obtinut de elev in urma testului sa fie
                    trecut intr-un catalog ce va fi salvat intr-o baza de date. Aplicata web TeachMe permite chat-ul
                    online intre profesor si elev.</p>
            </div>
        </div>

    </div>
</section>

<section class="strip-grey pt-0">
    <div class="container">
        <div class="row">
            <div class="contact col-6 p-5 d-flex flex-column align-items-center">
                <i class="fa fa-envelope fa-2x m-4"></i>
                <h3 class="m-4">Email Us</h3>
                <h5 class="m-4"><a href="mailto:contact@teachme.com">contact@teachme.com</a></h5>
            </div>

            <div class="contact col-6 p-5 d-flex flex-column align-items-center">
                <i class="fa fa-phone fa-2x m-4"></i>
                <h3 class="m-4">Call Us</h3>
                <h5 class="m-4"><a href="tel:+407123456789">+40 7123 456 789</a></h5>
            </div>
        </div>
    </div>
</section>

<app-footer *ngIf="(showHeader$ | async)"></app-footer>