<app-page-title>Email Details</app-page-title>

<div class="card shadow">
    <div class="card-header">
        <div class="email-toolbar">
            <app-button [btnClass]="'btn-secondary'" (onClick)="back()"><i class="fas fa-arrow-left"></i></app-button>
            <button class="ml-auto mr-2 btn btn-secondary" (click)="reply()"><i class="fas fa-reply"></i></button>
            <app-button [btnClass]="'btn-secondary'" (onClick)="delete()"><i class="fas fa-trash"></i></app-button>
        </div>
    </div>
    <div class="card-body">
        <h3>
            Subject
        </h3>
        <span class="pr-1"><b>Nume Prenume</b></span>
        <small><span>&lt;</span>email@email.com<span>&gt;</span></small>
        <div class="mt-5">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
            dolore
            magna aliqua. Aliquet eget sit amet tellus cras adipiscing enim. At urna condimentum mattis pellentesque id
            nibh
            tortor. Ultrices sagittis orci a scelerisque purus semper eget. Et malesuada fames ac turpis. Sagittis orci
            a
            scelerisque purus semper. Cursus mattis molestie a iaculis at erat pellentesque. Diam vel quam elementum
            pulvinar etiam non quam lacus. Proin sagittis nisl rhoncus mattis rhoncus urna neque viverra justo. At in
            tellus
            integer feugiat scelerisque varius. Volutpat sed cras ornare arcu dui vivamus. Faucibus pulvinar elementum
            integer enim neque volutpat ac. Urna et pharetra pharetra massa massa ultricies mi quis hendrerit. A arcu
            cursus
            vitae congue. Orci ac auctor augue mauris. Felis bibendum ut tristique et egestas. Ornare lectus sit amet
            est.
            <hr />
            Eu mi bibendum neque egestas. Tristique et egestas quis ipsum suspendisse ultrices gravida dictum. Eget est
            lorem ipsum dolor sit amet consectetur adipiscing elit. Donec massa sapien faucibus et molestie ac. Nibh
            mauris
            cursus mattis molestie a iaculis at erat. Scelerisque eu ultrices vitae auctor eu augue ut lectus. Cras sed
            felis eget velit aliquet sagittis. Nibh nisl condimentum id venenatis. Suspendisse interdum consectetur
            libero
            id faucibus nisl tincidunt. Id velit ut tortor pretium viverra suspendisse potenti nullam. Facilisi cras
            fermentum odio eu feugiat pretium nibh ipsum. Vitae semper quis lectus nulla at volutpat diam ut. Eleifend
            quam
            adipiscing vitae proin sagittis nisl. Faucibus vitae aliquet nec ullamcorper sit amet. Bibendum ut tristique
            et
            egestas quis ipsum. Neque viverra justo nec ultrices. Pulvinar mattis nunc sed blandit libero volutpat sed
            cras
            ornare. Quis vel eros donec ac odio tempor orci dapibus ultrices. Sed egestas egestas fringilla phasellus
            faucibus scelerisque eleifend.
            <hr />
            Condimentum id venenatis a condimentum vitae sapien pellentesque habitant. Feugiat in ante metus dictum at
            tempor commodo. Quisque non tellus orci ac. Adipiscing at in tellus integer feugiat scelerisque varius morbi
            enim. Lacus suspendisse faucibus interdum posuere lorem ipsum dolor. Tellus pellentesque eu tincidunt tortor
            aliquam nulla. Posuere ac ut consequat semper viverra nam libero justo laoreet. Ultrices tincidunt arcu non
            sodales. Ac auctor augue mauris augue neque gravida in. Enim nec dui nunc mattis enim. Viverra nam libero
            justo
            laoreet sit amet cursus. Dolor sed viverra ipsum nunc aliquet bibendum. Neque viverra justo nec ultrices.
            <hr />
            Adipiscing at in tellus integer feugiat scelerisque varius morbi enim. Condimentum id venenatis a
            condimentum
            vitae. Cursus vitae congue mauris rhoncus aenean. Accumsan sit amet nulla facilisi morbi tempus iaculis
            urna.
            Pharetra diam sit amet nisl suscipit adipiscing bibendum est. Blandit aliquam etiam erat velit scelerisque
            in
            dictum. Quis viverra nibh cras pulvinar mattis. Hac habitasse platea dictumst quisque sagittis purus.
            Aliquam
            vestibulum morbi blandit cursus. Arcu cursus vitae congue mauris rhoncus aenean vel elit. Nisl pretium fusce
            id
            velit ut. Cras adipiscing enim eu turpis egestas.
            <hr />
            Euismod elementum nisi quis eleifend quam. Gravida rutrum quisque non tellus orci ac auctor augue. Egestas
            maecenas pharetra convallis posuere morbi leo urna. Amet facilisis magna etiam tempor orci eu. Dolor magna
            eget
            est lorem ipsum dolor sit amet. In eu mi bibendum neque egestas congue. Consequat semper viverra nam libero
            justo. Adipiscing commodo elit at imperdiet dui accumsan sit amet. Semper auctor neque vitae tempus. Aliquam
            id
            diam maecenas ultricies mi eget mauris pharetra. Orci dapibus ultrices in iaculis nunc sed augue lacus.
            Fringilla ut morbi tincidunt augue interdum. Sit amet tellus cras adipiscing.
        </div>
    </div>
</div>