@import "../../../../../assets/scss/variables";
.search {
    position: relative;
    input {
        border: none;
    }
    .fa-search {
        position: absolute;
        right: 5%;
        top: 25%;
    }
}

.online {
    color: $green;
}

.offline {
    color: $red;
}

.me {
    color: $blue;
}
