@import "../../../assets/scss/variables";
:host {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.error {
    font-size: 7rem;
    line-height: 1;
    text-align: center;
}
