<div class="row">
    <div class="col-lg-6">
        <h1 class="h3 text-gray-800">Practice</h1>

        <app-test-card [title]="'Radio button test'" [description]="'Answer questions about OOP'"
            [dueDate]="'Last accessed: 29.10.2019'" [type]="'practice'" [route]="'/app/tests/radio'"></app-test-card>

    </div>

    <div class="col-lg-6">
        <h1 class="h3 text-gray-800">Assignments</h1>
        <app-test-card [title]="'Checkbox radio test'" [description]="'Answer questions about Javascript'"
            [dueDate]="'Due date: 29.10.2019'"></app-test-card>

        <app-test-card [title]="'Checkbox radio test'" [description]="'Answer questions about Javascript'"
            [dueDate]="'Due date: 29.10.2019'"></app-test-card>
    </div>
</div>